<%- include("./partials/header") %>

<body>
	<div class="container">
		<h3>Upload</h3>
		<form class="container" method="post" enctype="multipart/form-data" action="/anexar/arquivo" method="POST">
			<label class='label-form'>Descricao</label>
			<textarea maxlength='140' id="descricao" name="descricao" required autofocus></textarea>
			<label class='label-form'>Arquivo</label>
			<input id="file-input" type="file" name="arquivo" required />
			<button type="submit">Enviar</button>
		</form>
		<h3 id="cabecadoCriado">Arquivo Recebido</h3>
		<h3 id="cabecalhoProtocolo">Protolo</h3>
		<p id='protocolo'></p>
	</div>

</body>

<script>

	let query = (window.location.href).split("?");
	let itens = '';

	if(query[1] != undefined){
		itens = query[1].replaceAll('=','&').split("&");
	}	
	let criadoText = itens[1];
	let protocolText = itens[3];

	document.getElementById("cabecadoCriado").style.display = "none";
	document.getElementById("cabecalhoProtocolo").style.display = "none";
	document.getElementById("protocolo").style.display = "none";

	if(criadoText == "true"){
		document.getElementById("cabecadoCriado").style.display = "inline";
		document.getElementById("cabecalhoProtocolo").style.display = "inline";
		document.getElementById("protocolo").style.display = "inline";
		document.getElementById("protocolo").innerText = protocolText;

	}
	
</script>
<%- include("./partials/footer") %>