<%- include('./partials/header') %>

<body>
	<div class="container">
		<h1>Upload</h1>
		<form method="post" enctype="multipart/form-data" action="/anexar/arquivo" method="POST">
			<input id="file-input" type="file" name='arquivo' />
			<button type="submit">Enviar</button>
		</form>
	</div>

</body>

<script>
	const pathnmame = window.location.pathname;
	document.getElementById('path').innerHTML = pathnmame;
</script>

<%- include('./partials/footer') %>