<%- include('./partials/header') %>

<body>
	<div class="container">
		<h1>Upload</h1>
		<form method="post" enctype="multipart/form-data" action="/anexar/arquivo" method="POST">
			<input id="file-input" type="file" name='arquivo' />
			<button type="submit">Enviar</button>
		</form>
		<p id='criado'>Arquivo Recebido</p>
	</div>

</body>
<script>
	let criado = window.location.href;
	criado = criado.split('=');

	console.log(criado[1]);
	if(criado[1] != 'true'){
		document.getElementById('criado').style.display = 'none';
	}
	
</script>
<%- include('./partials/footer') %>