<!DOCTYPE html>
<html>
	<head>
		<title>Projeto Vanessa</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<div class="container">
			<form action="/criar" method="POST" class="login">
                <label for="nome">Nome</label>
                <input type="text" name="nome"/> 
                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome"/>
                <label for="email">E-mail</label>
                <input type="email" name="email"/>
                <label for="senha">Senha</label>
                <input type="text" name="senha"/>
                <label for="confirmSenha">Confirmar Senha</label>
                <input type="text" name="confirmSenha"/>
                <input type="submit" value="Enviar">
			</form>

			<div><a href="/">Voltar</a></div>
		</div>

	</body>

</html>
