<!DOCTYPE html>
<html>
	<head>
		<title>Projeto Vanessa</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<div class="container">
			<form action="/criar" method="POST" class="login">
                <label for="nome">Nome</label>
                <input required type="text" name="nome" minlength="2"/> 
                <label for="sobrenome">Sobrenome</label>
                <input required type="text" name="sobrenome" minlength="2"/>
                <label for="email">E-mail</label>
                <input required type="email" name="email"/>
                <label for="password">Senha</label>
                <input required type="password" name="password" minlength="6"/>
                <input type="submit" value="Enviar">
			</form>

			<div><a href="/">Voltar</a></div>
		</div>

	</body>

</html>
