<!DOCTYPE html>
<html>
	<head>
		<title>Projeto Vanessa</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<div class="container">
			<form action="/login" method="POST" class="login">
				<label >Usuário</label>
				<input autofocus required type="text" name="email" for="email" placeholder="E-mail" value="guilherme.novaes@gmail.com" class="form-element">
				<label >Senha</label>
				<input required type="password" name="password" for="password" value="Cietec2242" placeholder="Senha">
				<input type="submit" value="Enviar">
			</form>
			<article class="created" id="created">Usuário Criado!</article>
			<div><a href="/criar">Criar usuário</a></div>
		</div>

		<script>
			let query = (window.location.href).split("?");
			let itens = '';

			if(query[1] != undefined){
				itens = query[1].split("=");
			}

			let itensID = document.getElementById('created')
			console.log(itens[1]);
			if(itens[1] == '1') {
				itensID.style.display = 'inline';
				itensID.style.backgroundColor = '#4CAF50';
			}else{
				itensID.style.display = 'none';
			}

		</script>
	</body>

</html>