<!DOCTYPE html>
<html>
	<head>
		<title>Projeto Vanessa</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<div class="container">
			<form action="/login" method="POST" class="login">
				<label >Usuário</label>
				<input type="text" name="email" for="email" placeholder="E-mail" value="guilherme.novaes@gmail.com" class="form-element">
				<label >Senha</label>
				<input type="password" name="password" for="password" value="Cietec2242" placeholder="Senha">
				<input type="submit" value="Enviar">
			</form>

			<div><a href="/criar">Criar usuário</a></div>
		</div>

	</body>

</html>