<%- include('./partials/header') %>

<body>
	<div class="container">
		<form action="/login" method="POST" class='update'>
			<label >Nome</label>
			<input type="text" name="email" for='email' placeholder="E-mail" value='guilherme.novaes@gmail.com' class='form-element'>
			<label >Sobrenome</label>
			<input type="text" name="sobrenome" placeholder="Sobrenome">
			<label >Senha</label>
			<input type="text" name="password" placeholder="Senha">
			<label >Repetir Senha</label>
			<input type="text" name="confirmPassword" placeholder="Repetir Senha">
			
			<input type="submit" value="Atualizar dados">
		</form>
	</div>
</body>

<script>
   const pathnmame =  window.location.pathname;
    document.getElementById('path').innerHTML = pathnmame
</script>

<%- include('./partials/footer') %>